body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins,sans-serif;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App{
  display: flex;
  justify-content: center;
  align-items:center;
  column-gap: 15px;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin-top: 25px;
  padding-top: 10px;
  margin-bottom: 0;
}
.box{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0000;
  border: 5px solid white;
}
.o{
  width: 90%;
  height: 90%;
  border: 20px solid blueviolet;
  box-sizing: border-box;
  border-radius: 50%;
}
.x{
  width: 90%;
  height: 90%;
  position: relative;
  transform: rotate(45deg);
}
.x::after,.x::before{
  content: '';
  position: absolute;
  background: yellow;
}
.x::after{
  left: 55%;
  width: 20%;
  margin-left: -15%;
  height: 100%;
}
.x::before{
  top:55%;
  height: 20%;
  margin-top: -15%;
  width: 100%;
}
